@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

.h4 {
    text-align: center;
    margin-left: 5vh;
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
}

.div {
    margin-bottom: 30vh;
}

.botao {
    margin-left: 10em;
    margin-top: 15px;
    margin-bottom: 15px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0, auto;
    margin-top: 1vh;
    font-family: 'Heebo', sans-serif;
    margin-left: 4vh;
}