@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

.h4 {
    margin-top: 10vh;
    text-align: center;
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
}

.div {
    margin-bottom: 30vh;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 25vh;
    margin: 0, auto;
    font-family: 'Heebo', sans-serif;
}