@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

.div {
    margin: auto;
    align-items: center;
    margin-left: 37vh;
}

.top {
    margin: auto;
    margin-top: 15px;
    text-align: center;
    font-size: x-large;
}

.botao {
    margin-left: 1vh;
    margin-bottom: 2vh;
}

.margemtopo {
    margin-top: 4em;
}

.margemcampo {
    margin-top: 1.5em;
}

label {
    text-align: center;
    display: grid;
    font-family: 'Heebo', sans-serif;
}