@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

.h4 {
    text-align: center;
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
    margin-left: 6vh;
}

.div {
    margin-left: 10vw;
    margin-bottom: 20vh;
}

.botao {
    margin-left: 10vw;
    margin-top: 15vw;
    margin-bottom: 15vw;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 10vh;
}