.h4{
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.div{
    margin-left: 10em;
    margin-bottom: 15px;
}

.botao{
    margin-left: 10em;
    margin-top: 15px;
    margin-bottom: 15px;
}
