@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.h4 {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.div {
    margin-left: 10em;
    margin-bottom: 15px;
}

.botao {
    margin-left: 10em;
    margin-top: 15px;
    margin-bottom: 15px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 100px;
    margin: 0, auto;
}